/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@font-face {
  font-family: rookwell-bold;
  src: url(fonts/rockwell-font/Rockwell-ExtraBold.otf),
    format('otf');
}

.text-kedai {
  font-family: rookwell-bold;
}

.text-header {
  @apply text-left text-center text-2xl font-medium;
}

.text-titel-pemateri {
  @apply text-left text-xl font-semibold text-gray-800 dark:text-white;
}
.text-subtitel-pemateri {
  @apply text-left text-lg font-medium text-gray-800 dark:text-zinc-200;
}

.text-titel-admin {
  @apply text-left text-xl font-semibold text-white dark:text-gray-800;
}
.text-subtitel-admin {
  @apply text-left text-lg font-medium text-zinc-200 dark:text-gray-800;
}
